.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
match_probe_seq.Rnw
ncbi-blast-2.7.1+
ref1.xml
.RDataTmp
func_get_path.R
func_list_objects.R
test_getdir.R.OLD
comt_correlations_20000_all_areas_augmentedNew.xlsxOLD10
final_processed_data_stats.aux
final_processed_data_stats.log
final_processed_data_stats.synctex.gz
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD2
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD3
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD4
original_raw_data_stats.aux
original_raw_data_stats.log
original_raw_data_stats.synctex.gz
queryAccession copy.xlsx
comt_correlations_20000_all_areas_augmentedNew.xlsxOLD11
comt_correlations_20000_all_areas_augmentedNewOLD10.xlsx
comt_all_areas_correlation_results copy.xlsx.txt.old
comt_all_areas_correlation_results.xlsx.old
comt_correlations_20000_all_areas_augmentedNew.xlsx.old14
comt_correlations_20000_all_areas_augmentedNew.xlsxOLD12
comt_correlations_20000_all_areas_augmentedNew.xlsxOLD13
random_promoters_neg_minus40_plus10_TSS.txt
random_promoters_pos_minus40_plus10_TSS.txt
chi_square_genes_per_chr_200.log
chi_square_genes_per_chr_200.out
chi_square_genes_per_chr_200.pdf
chi_square_genes_per_chr_200.synctex.gz
chi_square_genes_per_chr_200.tex
chi_square_genes_per_chr_200_old.tex
comt_cerebellum_correlation_results.csv
comt_correlations_20000_all_areas_augmentedNew copy.xlsx
comt_temporal_correlation_results.csv
fasta_50_neg_promoter_seq_cb.txt
fasta_50_neg_promoter_seq_pf.txt
fasta_50_neg_promoter_seq_po.txt
fasta_50_neg_promoter_seq_tm.txt
fasta_50_pos_promoter_seq_cb.txt
fasta_50_pos_promoter_seq_pf.txt
fasta_50_pos_promoter_seq_po.txt
fasta_50_pos_promoter_seq_tm.txt
func_anyY.R
func_cbind_fill.R
func_cbind_na.R
func_chisq_genesBychr.R
func_chrom_names.R
func_commaSep.R
func_countNA.R
func_csf.R
func_cycle_ontol.R
func_cycle_params.R
func_df_uneq_col.R
func_enrichDAVID.R
func_floor_set.R
func_gene_start_end.R
func_genes2chr.R
func_genes_are_locs.R
func_genes_are_nums.R
func_gens2chr.R
func_get_MI_alt.R
func_get_match_length.R
func_get_miss_Stats.R
func_get_motif.R
func_get_start_pos.R
func_get_tstamp.R
func_hexamerprob.R
func_histChr.R
func_hypergeom_plot.R
func_inc.R
func_joint_entropy.R
func_mismatch_hgnc.R
func_miss_chr_bp.R
func_miss_symb_descr.R
func_mod_cong.R
func_mut_info.R
func_mut_info_v2.R
func_myBioCLite.R
func_new_objects.R
func_nums2genes.R
func_obj_size_Mb.R
func_onlycisChr.R
func_pack_check.R
func_pair_comp.R
func_prog_id.R
func_raincloudPlots.R
func_rbind_na.R
func_rec_script.R
func_rec_script.txt
func_rnd_prom.R
func_squareAxes.R
func_strip_bp.R
func_strip_chr.R
func_test_getdir.R
func_tstamp.R
func_unique_id_generator.R
func_where_NA.R
func_where_NA.txt
func_write_general_4set_data.R
func_write_orig_data_one_set.R
func_write_primary_data.R
func_write_primary_data_one_set.R
func_write_unique_data.R
zsign_tab.log
zsign_tab.synctex.gz
genes_by_ontolTerm_CV_positively_Prefrontal.csv
genes_by_ontolTerm_CVexpr.csv
genes_by_ontolTerm_negpf.csv
genes_by_ontolTerm_negpf.xlsx
hypergeometric_probability_table_200.csv
hypergeometric_probability_table_200_Cerebellum.csv
hypergeometric_probability_table_200_Pons.csv
hypergeometric_probability_table_200_Prefrontal.csv
hypergeometric_probability_table_200_Temporal.csv
hypergeometric_probability_table_50.csv
missing_data_table.pdf
missing_data_table.tex
ontology_prefrontal_neg_50.aux
ontology_prefrontal_neg_50.log
ontology_prefrontal_neg_50.out
ontology_prefrontal_neg_50.pdf
ontology_prefrontal_neg_50.synctex.gz
ontology_prefrontal_neg_50.tex
plot_Chrcount_vs_Length_Cerebellum.eps
plot_Chrcount_vs_Length_Pons.eps
plot_Chrcount_vs_Length_Prefrontal.eps
plot_Chrcount_vs_Length_Temporal.eps
table_top_200_negatively_Cerebellum.tex
table_top_200_negatively_Pons.tex
table_top_200_negatively_Prefrontal.aux
table_top_200_negatively_Prefrontal.log
table_top_200_negatively_Prefrontal.out
table_top_200_negatively_Prefrontal.pdf
table_top_200_negatively_Prefrontal.synctex.gz
table_top_200_negatively_Prefrontal.tex
table_top_200_negatively_Temporal.aux
table_top_200_negatively_Temporal.log
table_top_200_negatively_Temporal.out
table_top_200_negatively_Temporal.pdf
table_top_200_negatively_Temporal.synctex.gz
table_top_200_negatively_Temporal.tex
table_top_200_positively_Cerebellum.tex
table_top_200_positively_Pons.tex
table_top_200_positively_Prefrontal.tex
table_top_200_positively_Temporal.tex
top.Neg_genes.tex
top.Neg_genes_by_P.tex
top.Pos_genes.tex
top.Pos_genes_by_P.tex
top200_neg_ordered_by_pf_corr.csv
top200_pos_ordered_by_pf_corr.csv
top50_neg_corr_prefront.csv
top50_neg_ordered_by_pf_corr.csv
top50_pos_corr_prefront.csv
top50_pos_ordered_by_pf_corr.csv
top_200_neg_by_area.aux
top_200_neg_by_area.csv
top_200_neg_by_area.log
top_200_neg_by_area.out
top_200_neg_by_area.pdf
top_200_neg_by_area.synctex.gz
top_200_neg_by_area.tex
top_200_neg_by_area.xlsx
top_200_neg_genes_ cerebellum .csv
top_200_neg_genes_ pons .csv
top_200_neg_genes_ prefrontal .csv
top_200_neg_genes_ temporal .csv
top_200_pos_by_area.aux
top_200_pos_by_area.csv
top_200_pos_by_area.log
top_200_pos_by_area.out
top_200_pos_by_area.pdf
top_200_pos_by_area.synctex.gz
top_200_pos_by_area.tex
top_200_pos_by_chr_pf.aux
top_200_pos_by_chr_pf.log
top_200_pos_by_chr_pf.out
top_200_pos_by_chr_pf.pdf
top_200_pos_by_chr_pf.synctex.gz
top_200_pos_by_chr_pf.tex
top_200_pos_genes_ cerebellum .csv
top_200_pos_genes_ pons .csv
top_200_pos_genes_ prefrontal .csv
top_200_pos_genes_ temporal .csv
top_200_pos_genes_by_area.aux
top_200_pos_genes_by_area.log
top_200_pos_genes_by_area.out
top_200_pos_genes_by_area.pdf
top_200_pos_genes_by_area.synctex.gz
top_200_pos_genes_by_area.tex
top_200_ranked_by_pval_hypergeom.aux
top_200_ranked_by_pval_hypergeom.log
top_200_ranked_by_pval_hypergeom.out
top_200_ranked_by_pval_hypergeom.pdf
top_200_ranked_by_pval_hypergeom.synctex.gz
top_200_ranked_by_pval_hypergeom.tex
top_50_neg_by_area.aux
top_50_neg_by_area.log
top_50_neg_by_area.out
top_50_neg_by_area.pdf
top_50_neg_by_area.synctex.gz
top_50_neg_by_area.tex
top_50_pos_by_area.aux
top_50_pos_by_area.log
top_50_pos_by_area.out
top_50_pos_by_area.pdf
top_50_pos_by_area.synctex.gz
top_50_pos_by_area.tex
topgenes_by_chr_negatively_Cerebellum.txt
topgenes_by_chr_negatively_Pons.txt
topgenes_by_chr_negatively_Prefrontal.txt
topgenes_by_chr_negatively_Temporal.txt
topgenes_by_chr_old_DO_NOT_USE.zip
topgenes_by_chr_positively_Cerebellum.txt
topgenes_by_chr_positively_Pons.txt
topgenes_by_chr_positively_Prefrontal.txt
topgenes_by_chr_positively_Temporal.txt
-remote
1
CA_near_TSS_pos_pf.aux
CA_near_TSS_pos_pf.log
CA_near_TSS_pos_pf.out
CA_near_TSS_pos_pf.synctex.gz
OLD2top500_genes_tabled_by_area_pval_rank_final.tex
OLDtop500_genes_tabled_by_area_pval_rank_final.tex
TATA8_counts__atleastone_pos_neg_all.aux
TATA8_counts__atleastone_pos_neg_all.log
TATA8_counts__atleastone_pos_neg_all.out
TATA8_counts__atleastone_pos_neg_all.synctex.gz
area_unique_genes_pval_ranked.log
area_unique_genes_pval_ranked.out
area_unique_genes_pval_ranked.synctex.gz
chi_sq_pval_old.zip
chi_sq_tests_rank_pval_final.aux
chi_sq_tests_rank_pval_final.log
chi_sq_tests_rank_pval_final.out
chi_sq_tests_rank_pval_final.synctex.gz
comt_pons_correlation_results.csv.old
comt_prefrontal_correlation_results.xlsx.old
comt_temporal_correlation_results.csv.old
cophenetic_corrs_mutual_info.aux
cophenetic_corrs_mutual_info.log
cophenetic_corrs_mutual_info.out
cophenetic_corrs_mutual_info.synctex.gz
cophenetic_permuted_99P_and_original.aux
cophenetic_permuted_99P_and_original.log
cophenetic_permuted_99P_and_original.out
cophenetic_permuted_99P_and_original.synctex.gz
cophentic_correlation_99Perc_random_pairs_dendrograms.aux
cophentic_correlation_99Perc_random_pairs_dendrograms.log
cophentic_correlation_99Perc_random_pairs_dendrograms.out
cophentic_correlation_99Perc_random_pairs_dendrograms.synctex.gz
core_comt_global_data_v1.log
core_comt_global_data_v1.synctex.gz
expression_distributions_by_area.pdf.old
fasta_500_promoter_OLD.zip
gene_symbol_changes_summary.aux
gene_symbol_changes_summary.log
gene_symbol_changes_summary.out
gene_symbol_changes_summary.synctex.gz
genes_from_coexpressdb_COMT_match_500.aux
genes_from_coexpressdb_COMT_match_500.log
genes_from_coexpressdb_COMT_match_500.out
genes_from_coexpressdb_COMT_match_500.synctex.gz
genes_in_common_and_not_original_and_preprocessed_data.aux
genes_in_common_and_not_original_and_preprocessed_data.log
genes_in_common_and_not_original_and_preprocessed_data.out
genes_in_common_and_not_original_and_preprocessed_data.synctex.gz
genes_in_common_pval_ranked_final.aux
genes_in_common_pval_ranked_final.log
genes_in_common_pval_ranked_final.out
genes_in_common_pval_ranked_final.synctex.gz
hepatamer_motifs_diff_posVneg_pf.aux
hepatamer_motifs_diff_posVneg_pf.log
hepatamer_motifs_diff_posVneg_pf.out
hepatamer_motifs_diff_posVneg_pf.synctex.gz
hexamer_motifs_differing_pos_v_neg_pf.aux
hexamer_motifs_differing_pos_v_neg_pf.log
hexamer_motifs_differing_pos_v_neg_pf.out
hexamer_motifs_differing_pos_v_neg_pf.synctex.gz
hypergTest_TATA8_counts__atleastone_pos_neg_all.aux
hypergTest_TATA8_counts__atleastone_pos_neg_all.log
hypergTest_TATA8_counts__atleastone_pos_neg_all.out
hypergTest_TATA8_counts__atleastone_pos_neg_all.synctex.gz
hypergeometric_test_posVneg.aux
hypergeometric_test_posVneg.log
hypergeometric_test_posVneg.out
hypergeometric_test_posVneg.synctex.gz
hypergeometric_tests_final.aux
hypergeometric_tests_final.log
hypergeometric_tests_final.out
hypergeometric_tests_final.synctex.gz
initiator_elem_counts__atleastone_pos.aux
initiator_elem_counts__atleastone_pos.log
initiator_elem_counts__atleastone_pos.out
initiator_elem_counts__atleastone_pos.synctex.gz
initiator_elem_counts_all.aux
initiator_elem_counts_all.log
initiator_elem_counts_all.out
initiator_elem_counts_all.synctex.gz
initiator_elem_counts_neg.aux
initiator_elem_counts_neg.log
initiator_elem_counts_neg.out
initiator_elem_counts_neg.synctex.gz
initiator_elem_counts_pos.aux
initiator_elem_counts_pos.log
initiator_elem_counts_pos.out
initiator_elem_counts_pos.synctex.gz
missfont.log
missing_data_table.pdf.old
missing_data_table.tex.old
missing_stats_final.aux
missing_stats_final.log
missing_stats_final.out
missing_stats_final.synctex.gz
motifs_differing_pos_v_neg_pf.aux
motifs_differing_pos_v_neg_pf.log
motifs_differing_pos_v_neg_pf.out
motifs_differing_pos_v_neg_pf.synctex.gz
neg_genes_PWM_minus40_plus10_REVCOMPCerebellum.csv
neg_genes_PWM_minus40_plus10_REVCOMPPons.csv
neg_genes_PWM_minus40_plus10_REVCOMPPrefrontal.csv
neg_genes_PWM_minus40_plus10_REVCOMPTemporal.csv
neg_genes_PWM_minus40_plus10_REVCOMP_Cerebellum.csv
neg_genes_PWM_minus40_plus10_REVCOMP_Pons.csv
neg_genes_PWM_minus40_plus10_REVCOMP_Prefrontal.csv
neg_genes_PWM_minus40_plus10_REVCOMP_Temporal.csv
nucleotide_content_by_sign_by_area.aux
nucleotide_content_by_sign_by_area.log
nucleotide_content_by_sign_by_area.out
nucleotide_content_by_sign_by_area.synctex.gz
number_genes_per_area.aux
number_genes_per_area.log
number_genes_per_area.out
number_genes_per_area.synctex.gz
number_shared_genes_by_sign_by_area.aux
number_shared_genes_by_sign_by_area.log
number_shared_genes_by_sign_by_area.out
number_shared_genes_by_sign_by_area.synctex.gz
old_promoters.zip
ontology_BP_neg_of_500_pf.aux
ontology_BP_neg_of_500_pf.log
ontology_BP_neg_of_500_pf.out
ontology_BP_neg_of_500_pf.synctex.gz
ontology_BP_neg_of_500_po.aux
ontology_BP_neg_of_500_po.log
ontology_BP_neg_of_500_po.out
ontology_BP_neg_of_500_po.synctex.gz
ontology_BP_pos_of_500_cb.aux
ontology_BP_pos_of_500_cb.log
ontology_BP_pos_of_500_cb.out
ontology_BP_pos_of_500_cb.synctex.gz
ontology_BP_pos_of_500_pf.aux
ontology_BP_pos_of_500_pf.log
ontology_BP_pos_of_500_pf.out
ontology_BP_pos_of_500_pf.synctex.gz
ontology_BP_pos_of_500_po.aux
ontology_BP_pos_of_500_po.log
ontology_BP_pos_of_500_po.out
ontology_BP_pos_of_500_po.synctex.gz
ontology_BP_pos_of_500_tm.aux
ontology_BP_pos_of_500_tm.log
ontology_BP_pos_of_500_tm.out
ontology_BP_pos_of_500_tm.synctex.gz
ontology_CC_neg_of_500_po.aux
ontology_CC_neg_of_500_po.log
ontology_CC_neg_of_500_po.out
ontology_CC_neg_of_500_po.synctex.gz
ontology_CC_pos_of_500_cb.aux
ontology_CC_pos_of_500_cb.log
ontology_CC_pos_of_500_cb.out
ontology_CC_pos_of_500_cb.synctex.gz
ontology_CC_pos_of_500_pf.aux
ontology_CC_pos_of_500_pf.log
ontology_CC_pos_of_500_pf.out
ontology_CC_pos_of_500_pf.synctex.gz
ontology_CC_pos_of_500_po.aux
ontology_CC_pos_of_500_po.log
ontology_CC_pos_of_500_po.out
ontology_CC_pos_of_500_po.synctex.gz
ontology_CC_pos_of_500_tm.aux
ontology_CC_pos_of_500_tm.log
ontology_CC_pos_of_500_tm.out
ontology_CC_pos_of_500_tm.synctex.gz
ontology_MF_pos_of_500_cb.aux
ontology_MF_pos_of_500_cb.log
ontology_MF_pos_of_500_cb.out
ontology_MF_pos_of_500_cb.synctex.gz
ontology_MF_pos_of_500_pf.aux
ontology_MF_pos_of_500_pf.log
ontology_MF_pos_of_500_pf.out
ontology_MF_pos_of_500_pf.synctex.gz
ontology_MF_pos_of_500_po.aux
ontology_MF_pos_of_500_po.log
ontology_MF_pos_of_500_po.out
ontology_MF_pos_of_500_po.synctex.gz
ontology_MF_pos_of_500_tm.aux
ontology_MF_pos_of_500_tm.log
ontology_MF_pos_of_500_tm.out
ontology_MF_pos_of_500_tm.synctex.gz
pos_genes_PWM_minus40_plus10_REVCOMPCerebellum.csv
pos_genes_PWM_minus40_plus10_REVCOMPPons.csv
pos_genes_PWM_minus40_plus10_REVCOMPPrefrontal.csv
pos_genes_PWM_minus40_plus10_REVCOMPTemporal.csv
pos_genes_PWM_minus40_plus10_REVCOMP_Cerebellum.csv
pos_genes_PWM_minus40_plus10_REVCOMP_Pons.csv
pos_genes_PWM_minus40_plus10_REVCOMP_Prefrontal.csv
pos_genes_PWM_minus40_plus10_REVCOMP_Temporal.csv
pos_genes_full_top500_unique_final.aux
pos_genes_full_top500_unique_final.log
pos_genes_full_top500_unique_final.out
pos_genes_full_top500_unique_final.synctex.gz
pos_vs_neg_corrs_pf_motifs.aux
pos_vs_neg_corrs_pf_motifs.log
pos_vs_neg_corrs_pf_motifs.out
pos_vs_neg_corrs_pf_motifs.synctex.gz
pre_post_recovery_missing_stats_v1.log
pre_post_recovery_missing_stats_v1.synctex.gz
probes_per_chrom_final.aux
probes_per_chrom_final.log
probes_per_chrom_final.out
probes_per_chrom_final.synctex.gz
probes_per_gene_final.aux
probes_per_gene_final.log
probes_per_gene_final.out
probes_per_gene_final.synctex.gz
promoter_analyses_v1COMP.Rnw
promoter_analyses_v1REV.Rnw
promoter_analyses_v1REVCOMP.Rnw
promoter_analyses_v1_revcomp.Rnw
promoter_fasta_OLD.zip
rank_order_correlations_pairs_areas.aux
rank_order_correlations_pairs_areas.log
rank_order_correlations_pairs_areas.out
rank_order_correlations_pairs_areas.synctex.gz
t_test_motif_hits_pf.aux
t_test_motif_hits_pf.log
t_test_motif_hits_pf.out
t_test_motif_hits_pf.synctex.gz
table_top_200_old.zip
top500_genes_tabled_by_area_pval_rank_final.aux
top500_genes_tabled_by_area_pval_rank_final.log
top500_genes_tabled_by_area_pval_rank_final.out
top500_genes_tabled_by_area_pval_rank_final.synctex.gz
top500temp_genes_tabled_by_area_pval_rank_final.tex.old
top50_200_old.zip
top_500_by_pval_by_chr.aux
top_500_by_pval_by_chr.log
top_500_by_pval_by_chr.out
top_500_by_pval_by_chr.synctex.gz
top_500_by_sign_chr.aux
top_500_by_sign_chr.log
top_500_by_sign_chr.out
top_500_by_sign_chr.synctex.gz
top_genes_old.zip
update_promoters_v2_REVCOMP.Rnw.old
update_promoters_v2_revcomp.Rnw
chi_square_genes_per_chr_200.aux
.Rscriptnames
comt_correlations_20000_all_areas_augmentedNewOLD11.xlsx
