.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
match_probe_seq.Rnw
ncbi-blast-2.7.1+
ref1.xml
.RDataTmp
func_get_path.R
func_list_objects.R
test_getdir.R.OLD
comt_correlations_20000_all_areas_augmentedNew.xlsxOLD10
final_processed_data_stats.aux
final_processed_data_stats.log
final_processed_data_stats.synctex.gz
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD2
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD3
comt_correlations_20000_all_areas_augmentedNew.xlsx.OLD4
original_raw_data_stats.aux
original_raw_data_stats.log
original_raw_data_stats.synctex.gz
queryAccession copy.xlsx
